@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter&family=Ubuntu&display=swap');

body{
  font-family: 'Ubuntu', sans-serif;
}

.logo{
    height: 100px;
    width: 100px;
}


.primaryBtn{
    background-color: #34e7e4;
}

.primaryBtn:hover{
    background-color: #00d8d6;
    color: #000;
  
}

  
  .navbar-nav .nav-item:hover {
   
    background-color: #34e7e4;
    color: #000;
    border-radius: 10px;
  }

  .card {
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
